body {
    font-family: lexend, ariel;
    color: rgb(13, 13, 13);
    font-weight: 700;
    background-color: rgb(13, 13, 13);
}

/* TOP OF PAGE NAV PAR */
/* ---------------------- */
.title-bar {
    background-color: rgb(243, 199, 126);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.name,
.title {
    width: 33%;
    font-size: 40px;
    max-height: 60px;
}

.title {
    text-align: center;
}

.name {
    text-align: left;
    padding-left: 50px;
}

.nav {
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 2.5%;
}

.homer,
.exp,
.skills,
.me {
    width: 25%;
    text-align: center;
    font-size: 20px;
}

.homer-button,
.skills-button,
.exp-button,
.me-button {
    background-color: rgb(243, 199, 126);
    color: rgb(13, 13, 13);
    font-weight: 400;
    text-align: center;
    border: none;
    cursor: pointer;

    height: 40px;
    transition: opacity 0.15s;
    vertical-align: top;
    font-size: 20px;
}

.homer-button:hover,
.skills-button:hover,
.exp-button:hover,
.me-button:hover {
    opacity: 0.8;
}

.homer-button:active,
.skills-button:active,
.exp-button:active,
.me-button:active {
    opacity: 0.5;
}

* {
    box-sizing: border-box
}


.pics {
    background-color: rgb(13,13,13);
    display: flex;
    top: 100px;
    left: 0;
    right: 2%;
    height: 600px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}
.spacer{
    display: flex;
    width: 1%;
}

/* Set up images */
.A,
.B,
.C {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 600px;
    overflow: hidden;
}






.slides input{
    display: none;
}

.slides{
    display: flex;
}

.image-crop{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.slide{
    transition: 1s;
    width: 500px;
}

/* control the images manually */

.nav-manual{
    position: absolute;
    width: 500px;
    margin-top: 475px;
    display: flex;
    justify-content: center;
    
}

.manual-btn{
    border: 3px solid rgb(13, 13, 13);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: rgb(13, 13, 13)white;
}

#radioA1:checked ~ .first{
    margin-left: 0;
}

#radioA2:checked ~ .first{
    margin-left: -33.33%;
}

#radioA3:checked ~ .first{
    margin-left: -66.66%;
}

/* control the images automatically */
.nav-auto{
    position: absolute;
    width: 500px;
    margin-top: 475px;
    display: flex;
    justify-content: center;
}

.auto-btnA1,
.auto-btnA2,
.auto-btnA3{
    border: 3px solid rgb(13, 13, 13);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.auto-btnA1,
.auto-btnA2{
    margin-right: 10px;
}


#radioA1:checked ~ .nav-auto .auto-btnA1{
    background: rgb(13, 13, 13);
}

#radioA2:checked ~ .nav-auto .auto-btnA2{
    background: rgb(13, 13, 13);
}

#radioA3:checked ~ .nav-auto .auto-btnA3{
    background: rgb(13, 13, 13);
}

#radioB1:checked ~ .nav-auto .auto-btnB1{
    background: rgb(13, 13, 13);
}

#radioB2:checked ~ .nav-auto .auto-btnB2{
    background: rgb(13, 13, 13);
}

#radioB3:checked ~ .nav-auto .auto-btnB3{
    background: rgb(13, 13, 13);
}

#radioC1:checked ~ .nav-auto .auto-btnC1{
    background: rgb(13, 13, 13);
}

#radioC2:checked ~ .nav-auto .auto-btnC2{
    background: rgb(13, 13, 13);
}

#radioC3:checked ~ .nav-auto .auto-btnC3{
    background: rgb(13, 13, 13);
}


.subtitle{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 500px;
    top:  510px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(154, 194, 204);
}

.subpara{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 500px;
    top:  575px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(154, 194, 204);
}

